<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/offre-emploi">Emplois</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/articles">Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/AddProduct">Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/todo">todo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/form">Driven</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/form">Update</a>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>




  <form (ngSubmit)="Update(product)" #form="ngForm" >
    Title : <input class="form-control" type="text" name="title" [(ngModel)] = "product.title " required minlength="3" #title="ngModel" ><br><br>
    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
    <div *ngIf="title.errors?.['required']">Title is required</div>
    <div *ngIf="title.errors?.['minlength']">Title must have at least 3 charachters</div>
</div>
    Price : <input class="form-control"  type="number" name="price" [(ngModel)] = "product.price " required min="1" #price="ngModel"><br><br>
    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
    <div *ngIf="price.errors?.['required']">Price is required</div>
    <div *ngIf="price.errors?.['min']">Price must be a positive number</div>
</div>
    Quantity : <input class="form-control" type="number" name="quantity" [(ngModel)] = "product.quantity " required min="1" #quantity="ngModel"><br><br>
    <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
    <div *ngIf="quantity.errors?.['required']">Quantity is required</div>
    <div *ngIf="quantity.errors?.['min']">Quantity must be a positive number</div>
</div>
    Picture : <input class="form-control"  type="text" name="picture" [(ngModel)] = "product.picture " required="" #picture="ngModel"><br><br>
    <div class="alert alert-danger" *ngIf="picture.touched && picture.invalid">
    <div *ngIf="picture.errors?.['required']">Picture is required</div>
</div>

Email : <input class="form-control" type="text" name="email" [(ngModel)] = "email " required minlength="3" #em="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
<div class="alert alert-danger" *ngIf="em.touched && em.invalid">
    <div *ngIf="em.errors?.['required']">Email is required</div>
</div> 
<input  class="btn btn-primary" type="submit" value="Update" [disabled]="form.invalid">
</form>

{{product.title}}
{{product.price}}
{{product.quantity}}    
{{product.picture}}